<section class="header-container">
  <td class="col-name-goal">
    <p class="header-name">{{header.name}}</p>
    <p class="header-goal">{{header.goallife}}</p>
  </td>

  <td class="col-photo">
    <img src="{{header.photoUrl}}" class="header-photo" width="150" height="150" alt="header photo" />
  </td>

  <td class="header-contact">
    <p><span class="contact-text">{{header.email}}</span><i class="fas fa-envelope"></i></p>
    <p><span class="contact-text">{{header.phoneNumber}}</span><i class="fas fa-phone"></i></p>
    <p><span class="contact-text">{{header.location}}</span><i class="fas fa-map-marker-alt"></i></p>
    <p><span class="contact-text">{{header.socialNetwork}}</span><i class="fab fa-linkedin"></i></p>
  </td>
</section>
