.interests-container {
  max-width: 750px;
  margin: 20px auto;
  padding: 0px 20px;
}

.interests-container h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.interests-list {
  line-height: 1.6;
  text-align: left;
}


.interest-item {
  font-size: 1em;
  display: inline;
}

.separator {
  color: #888;
  margin: 0 0.5em;
  display: inline;
}

.no-interests {
  font-size: 1em;
  padding: 25px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
