<section class="skills-container">
  <h2>Skills & Competences</h2>

  <div *ngIf="Skills.length > 0; else noSkillsAvailable">
    <ul class="skills-list">
      <li *ngFor="let skill of Skills" class="skill-item">

        <span class="skill-name">{{ skill.skill }}</span>

        <div class="skill-level-bar-container">
          <div class="skill-level-bar-fill" [style.width.%]="skill.level">
             </div>
        </div>

      </li>
    </ul>
  </div>

  <ng-template #noSkillsAvailable>
    <p class="no-skills">No skills available.</p>
  </ng-template>

</section>
