.languages-container {
  max-width: 750px;
  margin: 20px auto;
  padding: 0px 35px;
}

.languages-container h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.languages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.language-item {
  font-size: 1em;
}

.no-languages {
  font-size: 1em;
  padding: 25px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
